{% extends 'blog/base.html' %}

{% block body %}

  <div class="main-content common-page clearfix">
    <div class="common-item">
      <div class="common-title">
        Search : c
      </div>
      <div class="post-lists">
        <div class="post-lists-body">
          <div class="post-list-item">
            <div class="post-list-item-container  bg-purple">
              <div class="item-label  bg-purple">
                <div class="item-title"><a href="http://139.9.201.209/index.php/archives/30/">未命名文档</a></div>
                <div class="item-meta clearfix">
                  <div class="item-meta-ico bg-ico-image"
                       style="background: url(http://139.9.201.209/usr/themes/pinghsu/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                  <div class="item-meta-date"> Aug 21, 2019</div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-list-item">
            <div class="post-list-item-container  bg-green">
              <div class="item-label  bg-green">
                <div class="item-title"><a href="http://139.9.201.209/index.php/archives/22/">利用 Flask 搭建 PyTorch
                  深度学习服务</a></div>
                <div class="item-meta clearfix">
                  <div class="item-meta-ico bg-ico-design"
                       style="background: url(http://139.9.201.209/usr/themes/pinghsu/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                  <div class="item-meta-date"> Aug 10, 2019</div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-list-item">
            <div class="post-list-item-container  bg-yellow">
              <div class="item-label  bg-green">
                <div class="item-title"><a href="http://139.9.201.209/index.php/archives/8/">PyTorch 实现 U-Net 用于图像分割</a>
                </div>
                <div class="item-meta clearfix">
                  <div class="item-meta-ico bg-ico-lock"
                       style="background: url(http://139.9.201.209/usr/themes/pinghsu/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                  <div class="item-meta-date"> Aug 10, 2019</div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-list-item">
            <div class="post-list-item-container  bg-purple">
              <div class="item-label  bg-blue">
                <div class="item-title"><a href="http://139.9.201.209/index.php/archives/7/">CNN公式</a></div>
                <div class="item-meta clearfix">
                  <div class="item-meta-ico bg-ico-code"
                       style="background: url(http://139.9.201.209/usr/themes/pinghsu/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                  <div class="item-meta-date"> Aug 6, 2019</div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-list-item">
            <div class="post-list-item-container  bg-orange">
              <div class="item-label  bg-blue">
                <div class="item-title"><a href="http://139.9.201.209/index.php/archives/4/">机器学习偏差-方差分解</a></div>
                <div class="item-meta clearfix">
                  <div class="item-meta-ico bg-ico-web"
                       style="background: url(http://139.9.201.209/usr/themes/pinghsu/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                  <div class="item-meta-date"> Jul 28, 2019</div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-list-item">
            <div class="post-list-item-container  bg-orange">
              <div class="item-label  bg-green">
                <div class="item-title"><a href="http://139.9.201.209/index.php/archives/1/">欢迎使用 Typecho</a></div>
                <div class="item-meta clearfix">
                  <div class="item-meta-ico bg-ico-code"
                       style="background: url(http://139.9.201.209/usr/themes/pinghsu/images/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                  <div class="item-meta-date"> Jul 25, 2019</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lists-navigator clearfix">
    </div>
  </div>


{% endblock body %}